[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]
auto_detect_remappings = false
chain_id = 1
auto_detect_solc = true
via_ir = false
optimizer = true
optimizer_runs = 200
libraries = []
extra_output = ["metadata"]
extra_output_files = ["metadata"]
allowed_paths = ["./deployment-configs"]
fs_permissions = [{ access = "read", path = "./deployment-configs"}]

[profile.itest]
test = "integration-test"
via_ir = true

[soldeer]
remappings_generate = true
remappings_regenerate = true
remappings_version = false
remappings_location = "txt"

[dependencies]
"@openzeppelin-contracts" = "5.0.2"
forge-std = { version = "1.9.4", url = "https://soldeer-revisions.s3.amazonaws.com/forge-std/1_9_4_25-10-2024_14:36:59_forge-std-1.9.zip" }
